{% extends "base.html" %}
{% block title %}Rótulos{% endblock %}

{% block content %}
<div class="col s12">
    <h4 class="center">Rótulos</h4>
</div>
<div class="row">
    <form action="/labels/new" method="post">
        <div class="input-field col s11">
            <input id="new_label" type="text" name="label">
            <label for="new_label">Novo Rótulo</label>
        </div>
        <div class="input-field col s1 center">
            <button class="btn waves-effect waves-light btn-narrow">
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
    <div class="col card s12 tight-bottom">
        <table>
            <thead>
                <tr>
                    <th>Rótulo</th>
                    {%for label in labels_types%}
                    <th style="width:80px;text-align: center;">{{ label[0] }}</th>
                    {%endfor%}
                    <th style="width:80px;text-align: center;">Total</th>
                    <th style="width:130px;text-align: center;">Criado por</th>
                    {%if has_permition('delete_label') or has_permition('extract_labels') or
                    has_permition('catch_queue')%}
                    <th style="width:180px;text-align: center;">Actions</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                <tr>
                    <td>{{ label.name }}</td>
                    {%for value, x, y, z in labels_types%}
                    <td style="text-align: center;">{%if value in values[label.id]%}{{ values[label.id][value]
                        }}{%else%}0{%endif%}</td>
                    {%endfor%}
                    <td style="text-align: center;">{{ values[label.id]["Total"] }}</td>
                    <td style="text-align: center;">{{ label.creator.name }}</td>
                    {%if has_permition('delete_label') or has_permition('extract_labels') or
                    has_permition('catch_queue')%}
                    <td>
                        {%if has_permition('delete_label')%}
                        <a class="btn waves-ligh tooltipped data-position bottom red darken-4"
                            data-tooltip="Remover rótulo"
                            onclick="show_warnning('Remover este rótulo não remove as rotulações efetuadas com ele, caso ele seja recriado as rotulações serão restauradas, para novas rotulações crie um novo rótulo com novo nome.','delete_label(\'{{label.id}}\');');">
                            <i class="material-icons">remove_circle_outline</i>
                        </a>
                        {%endif%}
                        {%if has_permition('extract_labels')%}
                        <a class="btn waves-ligh tooltipped data-position bottom" href='./labels/{{label.id}}/csv'
                            data-tooltip="Baixar dados rotulados">
                            <i class="material-icons">file_download</i>
                        </a>
                        {%endif%}
                        {%if has_permition('catch_queue')%}
                        <a class="btn waves-ligh tooltipped data-position bottom" href='./labels/{{label.id}}/queue'
                            data-tooltip="Abrir fila de pacientes rotulados">
                            <i class="material-icons">send</i>
                        </a>
                        {%endif%}
                    </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {%if has_permition('label_up')%}
    <div class="col card s12 tight-bottom">
        <div class="card-content row tight-bottom">
            <form action="./label-upload" method="post" enctype="multipart/form-data">
                <div class="col s12">
                    <h5>Upload de arquivo de rotulação</h5>
                </div>
                <div class="file-field input-field col l10 m8 s12">
                    <div class="btn">
                        <span><i class="material-icons">folder_open</i></span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" name="filename">
                    </div>
                </div>
                <div class="input-field col l2 m4 s12">
                    <button class="btn waves-effect waves-light btn-wide" type="submit">Carregar
                        <i class="material-icons right">file_upload</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {%endif%}
</div>

{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}